In [5]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib
from utils.classifications_utils import *
from utils.data_processing_utils import *
from utils.data_visualization_utils import *
from utils.metrics_utils import *
from utils.grid_search_utils import *
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, AdaBoostClassifier
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [6]:
FOLDER_PATH = "pickled_models/rf/"
FOLDER_PATH2 = "pickled_models/et/"
FOLDER_PATH3 = "pickled_models/adaBoost/"
FOLDER_PATH4 = "pickled_models/svm/"

In [7]:
no_wind_data = load_data(0, 1, "drone2")
no_wind_data = separate_data_based_on_apparatus(no_wind_data)

level_1_wind = load_data(1, 1, "drone2")
level_1_wind = separate_data_based_on_apparatus(level_1_wind)

level_3_wind = load_data(3, 1, "drone2")
level_3_wind = separate_data_based_on_apparatus(level_3_wind)

level_6_wind = load_data(6, 1, "drone2")
level_6_wind = separate_data_based_on_apparatus(level_6_wind)

level_8_wind = load_data(8, 1, "drone2")
level_8_wind = separate_data_based_on_apparatus(level_8_wind)

In [8]:
no_wind_transformed = transformed_all_data(no_wind_data, 0)
level_1_wind_transformed = transformed_all_data(level_1_wind, 1)
level_3_wind_transformed = transformed_all_data(level_3_wind, 2)
level_6_wind_transformed = transformed_all_data(level_6_wind, 3)
level_8_wind_transformed = transformed_all_data(level_8_wind, 4)

acc_no_wind, gyro_no_wind, mag_no_wind, stabilizer_no_wind = tuple(no_wind_transformed)
acc_level_1_wind, gyro_level_1_wind, mag_level_1_wind, stabilizer_level_1_wind = tuple(level_1_wind_transformed)
acc_level_3_wind, gyro_level_3_wind, mag_level_3_wind, stabilizer_level_3_wind = tuple(level_3_wind_transformed)
acc_level_6_wind, gyro_level_6_wind, mag_level_6_wind, stabilizer_level_6_wind = tuple(level_6_wind_transformed)
acc_level_8_wind, gyro_level_8_wind, mag_level_8_wind, stabilizer_level_8_wind = tuple(level_8_wind_transformed)

In [9]:
df_acc = acc_no_wind.append(acc_level_1_wind, ignore_index=True)
df_acc = df_acc.append(acc_level_3_wind, ignore_index=True)
df_acc = df_acc.append(acc_level_6_wind, ignore_index=True)
df_acc = df_acc.append(acc_level_8_wind, ignore_index=True)

In [10]:
df_sta = stabilizer_no_wind.append(stabilizer_level_1_wind, ignore_index=True)
df_sta = df_sta.append(stabilizer_level_3_wind, ignore_index=True)
df_sta = df_sta.append(stabilizer_level_6_wind, ignore_index=True)
df_sta = df_sta.append(stabilizer_level_8_wind, ignore_index=True)

In [11]:
df_gyro = gyro_no_wind.append(gyro_level_1_wind, ignore_index=True)
df_gyro = df_gyro.append(gyro_level_3_wind, ignore_index=True)
df_gyro = df_gyro.append(gyro_level_6_wind, ignore_index=True)
df_gyro = df_gyro.append(gyro_level_8_wind, ignore_index=True)

# Accelerometer

In [12]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_acc.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_acc.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_acc.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_acc.pkl')

In [13]:
X_acc = df_acc.iloc[:, :-1]
y_acc = df_acc["label"]

In [15]:
y_pred = pickled_clf.predict(X_acc)
pickled_clf.score(X_acc, y_acc)

0.2

In [16]:
get_confusion_matrix(y_pred, y_acc)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0         0         0         0         0         0
predicted_1        87         0         0        94         0
predicted_2       218         3         0       580         0
predicted_3         0         0         0         0         0
predicted_4      5596      5898      5901      5227      5901

In [17]:
y_pred = pickled_clf2.predict(X_acc)
pickled_clf2.score(X_acc, y_acc)

0.2

In [18]:
get_confusion_matrix(y_pred, y_acc)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0         0         0         0         0         0
predicted_1        93         0         0        91         0
predicted_2       200         4         0       394         0
predicted_3         0         0         0         0         0
predicted_4      5608      5897      5901      5416      5901

In [19]:
y_pred = pickled_clf3.predict(X_acc)
pickled_clf3.score(X_acc, y_acc)

0.20471106592103033

In [20]:
get_confusion_matrix(y_pred, y_acc)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0        68         9       159         0        39
predicted_1       500       255      1888       231       159
predicted_2         0         0         0       714         0
predicted_3         0         0         0        14         0
predicted_4      5333      5637      3854      4942      5703

In [21]:
y_pred = pickled_clf4.predict(X_acc)
pickled_clf4.score(X_acc, y_acc)

0.2

In [22]:
get_confusion_matrix(y_pred, y_acc)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0         0         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4      5901      5901      5901      5901      5901

# Stabilizer

In [23]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_sta.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_sta.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_sta.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_sta.pkl')

In [24]:
X_sta = df_sta.iloc[:, :-1]
y_sta = df_sta["label"]

In [25]:
y_pred = pickled_clf.predict(X_sta)
pickled_clf.score(X_sta, y_sta)

0.4023385866802237

In [26]:
get_confusion_matrix(y_pred, y_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5806       190        75       257        82
predicted_1         0      1786      1853      1797      1264
predicted_2        54      1859      2157      1617      2332
predicted_3         0       431       342       585       686
predicted_4        41      1635      1474      1645      1537

In [27]:
y_pred = pickled_clf2.predict(X_sta)
pickled_clf2.score(X_sta, y_sta)

0.40623623114726315

In [28]:
get_confusion_matrix(y_pred, y_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5793       123        27       227        40
predicted_1         0      1722      1669      1650      1248
predicted_2        75      2001      2343      1787      2330
predicted_3         0       503       371       582       737
predicted_4        33      1552      1491      1655      1546

In [29]:
y_pred = pickled_clf3.predict(X_sta)
pickled_clf3.score(X_sta, y_sta)

0.37047957973224876

In [30]:
get_confusion_matrix(y_pred, y_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5649        95        35        27        16
predicted_1        54      1210      1222      1301       914
predicted_2       169      2807      2730      3255      3111
predicted_3         0       704       882       705      1223
predicted_4        29      1085      1032       613       637

In [31]:
y_pred = pickled_clf4.predict(X_sta)
pickled_clf4.score(X_sta, y_sta)

0.2

In [32]:
get_confusion_matrix(y_pred, y_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901      5901      5901      5901      5901
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0         0         0         0         0

# Gyro

In [33]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_gyro.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_gyro.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_gyro.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_gyro.pkl')

In [34]:
X_gyro = df_gyro.iloc[:, :-1]
y_gyro = df_gyro["label"]

In [35]:
y_pred = pickled_clf.predict(X_gyro)
pickled_clf.score(X_gyro, y_gyro)

0.4537536010845619

In [36]:
get_confusion_matrix(y_pred, y_gyro)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901        28         0         0         0
predicted_1         0      3107      2285      2403      1063
predicted_2         0      1892      2504      2041      2175
predicted_3         0       240       564       899      1686
predicted_4         0       634       548       558       977

In [37]:
y_pred = pickled_clf2.predict(X_gyro)
pickled_clf2.score(X_gyro, y_gyro)

0.44921199796644634

In [38]:
get_confusion_matrix(y_pred, y_gyro)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901        13         0         0         0
predicted_1         0      3114      2431      2384      1091
predicted_2         0      1896      2350      2032      2221
predicted_3         0       274       590       945      1645
predicted_4         0       604       530       540       944

In [39]:
y_pred = pickled_clf3.predict(X_gyro)
pickled_clf3.score(X_gyro, y_gyro)

0.47056431113370617

In [40]:
get_confusion_matrix(y_pred, y_gyro)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901        32         0         0         0
predicted_1         0      2606      1603      1843       587
predicted_2         0      2205      2933      2324      1926
predicted_3         0       455       746      1113      2057
predicted_4         0       603       619       621      1331

In [41]:
y_pred = pickled_clf4.predict(X_gyro)
pickled_clf4.score(X_gyro, y_gyro)

0.2

In [42]:
get_confusion_matrix(y_pred, y_gyro)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0         0         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3      5901      5901      5901      5901      5901
predicted_4         0         0         0         0         0

# Gyro + Accelerometer

In [43]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_gyro_acc.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_gyro_acc.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_gyro_acc.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_gyro_acc.pkl')

In [44]:
X_gyro_acc = pd.concat([X_gyro, X_acc], axis=1)
y_gyro_acc = y_gyro
X_gyro_acc.head()

,mu_x_gyro,mu_y_gyro,mu_z_gyro,std_x_gyro,std_y_gyro,std_z_gyro,avg_resultant_acc_gyro,bins_0_gyro,bins_1_gyro,bins_2_gyro,...,bins_23_acc,bins_24_acc,bins_25_acc,bins_26_acc,bins_27_acc,bins_28_acc,bins_29_acc,mean_average_difference_x_acc,mean_average_difference_y_acc,mean_average_difference_z_acc
0,-0.491136,0.283435,-0.470393,2.595807,3.592869,0.708459,4.139829,4.0,9.0,9.0,...,12.0,17.0,22.0,14.0,10.0,4.0,4.0,0.049292,0.094030,0.043192
1,-0.542878,0.343479,-0.444518,2.568147,3.644844,0.717643,4.169466,4.0,9.0,9.0,...,29.0,21.0,14.0,5.0,3.0,0.0,1.0,0.050088,0.094674,0.044772
2,-0.542751,0.361343,-0.422838,2.568278,3.650397,0.720635,4.176126,4.0,9.0,9.0,...,29.0,21.0,14.0,5.0,4.0,0.0,1.0,0.050920,0.095812,0.044634
3,-0.516524,0.348400,-0.419690,2.575887,3.653436,0.717025,4.180148,4.0,9.0,9.0,...,29.0,21.0,15.0,5.0,4.0,0.0,1.0,0.051183,0.095152,0.044353
4,-0.459293,0.296661,-0.423891,2.553752,3.652614,0.719167,4.155253,4.0,8.0,9.0,...,29.0,20.0,15.0,5.0,5.0,0.0,1.0,0.051850,0.093911,0.045109

In [45]:
y_pred = pickled_clf.predict(X_gyro_acc)
pickled_clf.score(X_gyro_acc, y_gyro_acc)

0.41148957803762076

In [46]:
get_confusion_matrix(y_pred, y_gyro_acc)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901         0         0         0         0
predicted_1         0       351         0      1519        15
predicted_2         0        15         0      1634         0
predicted_3         0         0         0         3         0
predicted_4         0      5535      5901      2745      5886

In [47]:
y_pred = pickled_clf2.predict(X_gyro_acc)
pickled_clf2.score(X_gyro_acc, y_gyro_acc)

0.4100321979325538

In [48]:
get_confusion_matrix(y_pred, y_gyro_acc)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901         0         0         0         0
predicted_1         0       323         0      1692        27
predicted_2         0        41         0      1332         0
predicted_3         0         0         0         0         0
predicted_4         0      5537      5901      2877      5874

In [49]:
y_pred = pickled_clf3.predict(X_gyro_acc)
pickled_clf3.score(X_gyro_acc, y_gyro_acc)

0.4015590577868158

In [50]:
get_confusion_matrix(y_pred, y_gyro_acc)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901        32         0         0         0
predicted_1         0        46         0      2097         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0      5823      5901      3804      5901

In [51]:
y_pred = pickled_clf4.predict(X_gyro_acc)
pickled_clf4.score(X_gyro_acc, y_gyro_acc)

0.2

In [52]:
get_confusion_matrix(y_pred, y_gyro_acc)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0         0         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4      5901      5901      5901      5901      5901

# Gyro + Stabilizer

In [53]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_gyro_stb.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_gyro_stb.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_gyro_stb.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_gyro_stb.pkl')

In [54]:
X_gyro_sta = pd.concat([X_gyro, X_sta], axis=1)
y_gyro_sta = y_gyro
X_gyro_sta.head()

,mu_x_gyro,mu_y_gyro,mu_z_gyro,std_x_gyro,std_y_gyro,std_z_gyro,avg_resultant_acc_gyro,bins_0_gyro,bins_1_gyro,bins_2_gyro,...,bins_23_stabilizer,bins_24_stabilizer,bins_25_stabilizer,bins_26_stabilizer,bins_27_stabilizer,bins_28_stabilizer,bins_29_stabilizer,mean_average_difference_x_stabilizer,mean_average_difference_y_stabilizer,mean_average_difference_z_stabilizer
0,-0.491136,0.283435,-0.470393,2.595807,3.592869,0.708459,4.139829,4.0,9.0,9.0,...,6.0,4.0,11.0,9.0,23.0,21.0,10.0,0.121310,0.103062,0.102170
1,-0.542878,0.343479,-0.444518,2.568147,3.644844,0.717643,4.169466,4.0,9.0,9.0,...,7.0,4.0,8.0,11.0,11.0,25.0,18.0,0.122442,0.103635,0.104253
2,-0.542751,0.361343,-0.422838,2.568278,3.650397,0.720635,4.176126,4.0,9.0,9.0,...,6.0,4.0,8.0,11.0,6.0,29.0,19.0,0.123927,0.103636,0.106328
3,-0.516524,0.348400,-0.419690,2.575887,3.653436,0.717025,4.180148,4.0,9.0,9.0,...,6.0,4.0,7.0,12.0,4.0,31.0,18.0,0.125273,0.103253,0.108321
4,-0.459293,0.296661,-0.423891,2.553752,3.652614,0.719167,4.155253,4.0,8.0,9.0,...,7.0,4.0,7.0,11.0,5.0,30.0,18.0,0.125932,0.103114,0.110444

In [55]:
y_pred = pickled_clf.predict(X_gyro_sta)
pickled_clf.score(X_gyro_sta, y_gyro_sta)

0.44209456024402644

In [56]:
get_confusion_matrix(y_pred, y_gyro_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901         9         0         4         0
predicted_1         0      3064      2680      2567      1032
predicted_2         0      1926      2132      1921      2337
predicted_3         0       216       365       697      1282
predicted_4         0       686       724       712      1250

In [57]:
y_pred = pickled_clf2.predict(X_gyro_sta)
pickled_clf2.score(X_gyro_sta, y_gyro_sta)

0.4479579732248771

In [58]:
get_confusion_matrix(y_pred, y_gyro_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901        46         0         0         0
predicted_1         0      3051      2543      2576       999
predicted_2         0      1920      2272      1822      2407
predicted_3         0       191       381       794      1296
predicted_4         0       693       705       709      1199

In [59]:
y_pred = pickled_clf3.predict(X_gyro_sta)
pickled_clf3.score(X_gyro_sta, y_gyro_sta)

0.4356210811726826

In [60]:
get_confusion_matrix(y_pred, y_gyro_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901        32         0         0         0
predicted_1         0      2812      2155      2095      1017
predicted_2         0      1996      2095      2010      1707
predicted_3         0       679       857      1043      2175
predicted_4         0       382       794       753      1002

In [61]:
y_pred = pickled_clf4.predict(X_gyro_sta)
pickled_clf4.score(X_gyro_sta, y_gyro_sta)

0.2

In [62]:
get_confusion_matrix(y_pred, y_gyro_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901      5901      5901      5901      5901
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0         0         0         0         0

# Accelerometer + Stabilizer

In [63]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_acc_stb.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_acc_stb.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_acc_stb.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_acc_stb.pkl')

In [64]:
X_acc_sta = pd.concat([X_acc, X_sta], axis=1)
y_acc_sta = y_gyro
X_acc_sta.head()

,mu_x_acc,mu_y_acc,mu_z_acc,std_x_acc,std_y_acc,std_z_acc,avg_resultant_acc_acc,bins_0_acc,bins_1_acc,bins_2_acc,...,bins_23_stabilizer,bins_24_stabilizer,bins_25_stabilizer,bins_26_stabilizer,bins_27_stabilizer,bins_28_stabilizer,bins_29_stabilizer,mean_average_difference_x_stabilizer,mean_average_difference_y_stabilizer,mean_average_difference_z_stabilizer
0,-0.017455,-0.010273,0.985857,0.067774,0.115039,0.055539,0.994995,1.0,0.0,0.0,...,6.0,4.0,11.0,9.0,23.0,21.0,10.0,0.121310,0.103062,0.102170
1,-0.016626,-0.009602,0.987538,0.068924,0.115320,0.059104,0.996750,1.0,0.0,0.0,...,7.0,4.0,8.0,11.0,11.0,25.0,18.0,0.122442,0.103635,0.104253
2,-0.015759,-0.006287,0.989684,0.069595,0.116984,0.059084,0.999058,1.0,0.0,0.0,...,6.0,4.0,8.0,11.0,6.0,29.0,19.0,0.123927,0.103636,0.106328
3,-0.015337,-0.004145,0.991262,0.069682,0.116369,0.058765,1.000541,1.0,0.0,0.0,...,6.0,4.0,7.0,12.0,4.0,31.0,18.0,0.125273,0.103253,0.108321
4,-0.014634,-0.002905,0.992022,0.070212,0.115458,0.059603,1.001218,1.0,0.0,0.0,...,7.0,4.0,7.0,11.0,5.0,30.0,18.0,0.125932,0.103114,0.110444

In [65]:
y_pred = pickled_clf.predict(X_acc_sta)
pickled_clf.score(X_acc_sta, y_acc_sta)

0.39081511608202

In [66]:
get_confusion_matrix(y_pred, y_acc_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5630        22         0       110         0
predicted_1         0         0         0       138         0
predicted_2        68         0         0       809         0
predicted_3         0         0         0         0         0
predicted_4       203      5879      5901      4844      5901

In [67]:
y_pred = pickled_clf2.predict(X_acc_sta)
pickled_clf2.score(X_acc_sta, y_acc_sta)

0.3873241823419759

In [68]:
get_confusion_matrix(y_pred, y_acc_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5527        10         0        82         0
predicted_1         7         0         0       131         0
predicted_2        11         0         0       422         0
predicted_3         0         0         0         0         0
predicted_4       356      5891      5901      5266      5901

In [69]:
y_pred = pickled_clf3.predict(X_acc_sta)
pickled_clf3.score(X_acc_sta, y_acc_sta)

0.4109811896288765

In [70]:
get_confusion_matrix(y_pred, y_acc_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5736        17         0        39         0
predicted_1        11       417        94      1799        76
predicted_2        84       714       412       333       283
predicted_3         0         0         0        19         0
predicted_4        70      4753      5395      3711      5542

In [71]:
y_pred = pickled_clf4.predict(X_acc_sta)
pickled_clf4.score(X_acc_sta, y_acc_sta)

0.2

In [72]:
get_confusion_matrix(y_pred, y_acc_sta)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901      5901      5901      5901      5901
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0         0         0         0         0

# All

In [73]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_all.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_all.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_all.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_all.pkl')

In [74]:
X_all = pd.concat([X_gyro, X_acc, X_sta], axis=1)
y_all = y_gyro
X_all.head()

,mu_x_gyro,mu_y_gyro,mu_z_gyro,std_x_gyro,std_y_gyro,std_z_gyro,avg_resultant_acc_gyro,bins_0_gyro,bins_1_gyro,bins_2_gyro,...,bins_23_stabilizer,bins_24_stabilizer,bins_25_stabilizer,bins_26_stabilizer,bins_27_stabilizer,bins_28_stabilizer,bins_29_stabilizer,mean_average_difference_x_stabilizer,mean_average_difference_y_stabilizer,mean_average_difference_z_stabilizer
0,-0.491136,0.283435,-0.470393,2.595807,3.592869,0.708459,4.139829,4.0,9.0,9.0,...,6.0,4.0,11.0,9.0,23.0,21.0,10.0,0.121310,0.103062,0.102170
1,-0.542878,0.343479,-0.444518,2.568147,3.644844,0.717643,4.169466,4.0,9.0,9.0,...,7.0,4.0,8.0,11.0,11.0,25.0,18.0,0.122442,0.103635,0.104253
2,-0.542751,0.361343,-0.422838,2.568278,3.650397,0.720635,4.176126,4.0,9.0,9.0,...,6.0,4.0,8.0,11.0,6.0,29.0,19.0,0.123927,0.103636,0.106328
3,-0.516524,0.348400,-0.419690,2.575887,3.653436,0.717025,4.180148,4.0,9.0,9.0,...,6.0,4.0,7.0,12.0,4.0,31.0,18.0,0.125273,0.103253,0.108321
4,-0.459293,0.296661,-0.423891,2.553752,3.652614,0.719167,4.155253,4.0,8.0,9.0,...,7.0,4.0,7.0,11.0,5.0,30.0,18.0,0.125932,0.103114,0.110444

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2, random_state=42)

In [76]:
y_pred = pickled_clf.predict(X_all)
pickled_clf.score(X_all, y_all)

0.40681240467717333

In [77]:
get_confusion_matrix(y_pred, y_all)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901         0         0         5         0
predicted_1         0       201         0       607         0
predicted_2         0        46         0      1601         0
predicted_3         0         0         0         0         0
predicted_4         0      5654      5901      3688      5901

In [78]:
y_pred = pickled_clf2.predict(X_all)
pickled_clf2.score(X_all, y_all)

0.404948313845111

In [79]:
get_confusion_matrix(y_pred, y_all)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901         0         0         0         0
predicted_1         0       146         0       609         0
predicted_2         0        44         0      1322         0
predicted_3         0         0         0         0         0
predicted_4         0      5711      5901      3970      5901

In [80]:
y_pred = pickled_clf3.predict(X_all)
pickled_clf3.score(X_all, y_all)

0.4015590577868158

In [81]:
get_confusion_matrix(y_pred, y_all)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      5901        32         0         0         0
predicted_1         0        46         0      1301         0
predicted_2         0         0         0       479         0
predicted_3         0         0         0         0         0
predicted_4         0      5823      5901      4121      5901

In [82]:
y_pred = pickled_clf4.predict(X_all)
pickled_clf4.score(X_all, y_all)

0.2

In [83]:
get_confusion_matrix(y_pred, y_all)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0         0         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4      5901      5901      5901      5901      5901